# Data Science Tools and Ecosystem #

In this notebook, Data Science Tools and Ecosystem are summarized.

*Objectives:*  

* List popular languages for Data Science
* List commonly used libraries for Data Science
* List popular data science tools for Data Science
* Perform simple arithmetic computation
* Converting time values

Some of the popular languages that Data Scientists use are:  

1. Python
1. R
1. Matlab

Some of the commonly used libraries used by Data Scientists include:

1. Numpy
1. Pandas
1. Scikit-learn
1. Matplotlib

| *Data Science Tools* | 
|----------------------|
|Jupyter Notebook|
|IBM Watson|
|R Studio|

### Below are a few examples of evaluating arithmetic expressions in Python ###

In [8]:
# This a simple arithmetic expression to mutiply then add integers
(3*4)+5

17

In [13]:
# This will convert 200 minutes to hours by dividng by 60
(200/60), "hrs"

(3.3333333333333335, 'hrs')

## Author ##  
Arun Asok